<section class="content-header">
	<h1>
		Cliente
		<small>Criar</small>
	</h1>

	<ol class="breadcrumb">
		<li><a href="/"><i class="fa fa-dashboard"></i></a></li>
		<li class="active">Criar Cliente</li>
	</ol>
</section>

<section class="content">
	<div class="row">
		<div class="col-xs-12">
			<div class="box box-primary">
				<div class="col-xs-12">
					<h4 class="box-title">Criar novo cliente</h4>
				</div>

				<form class="demo-form" action="/cliente" method="POST" role="form" data-parsley-validate="">
					<div data-parsley-check-children="2" data-parsley-validate-if-empty="">
						<% include ./../partials/cliente/form %>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>
