<section class="content-header">
    <h1>
        Vendas no período
        <small>Relatório</small>
    </h1>

    <ol class="breadcrumb">
        <li>
            <a href="/">
                <i class="fa fa-dashboard"></i>
            </a>
        </li>
        <li class="active">Lista de Vendas no período</li>
    </ol>
</section>
<div id="editor"></div>
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-primary">
                <form method="get">
                    <div class="box-header">
                        <h3>Filtrar</h3>
                        <div class="row">
                            <div class="col-xs-3">
                                <label for="from">A partir de</label>
                                <div class="input-group date">
                                    <input type="hidden" name="dt_ini" id="from_hide" />
                                    <input type="text" id="from" name="dt_ini_" class="form-control" data-date-format="dd/mm/yyyy">
                                    <div class="input-group-addon">
                                        <span class="glyphicon glyphicon-th"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-3">
                                <label for="to">para</label>
                                <div class="input-group date">
                                    <input type="hidden" name="dt_fim" id="to_hide" />
                                    <input type="text" id="to" name="dt_fim_" class="form-control date" data-date-format="dd/mm/yyyy">
                                    <div class="input-group-addon">
                                        <span class="glyphicon glyphicon-th"></span>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="col-xs-6">
                                <button type="submit" id="btnGerarFiltro" class="btn btn-primary btn-block">Filtrar</button>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="box-body">
                    <div class="table-responsive">
                        <table id="relvendasnoperiodo" cellspacing="0" class="display table table-hover">
                            <thead>
                                <tr>
                                    <th>Cliente</th>
                                    <th>Cidade</th>
                                    <th>Data Venda</th>
                                    <th>Valor</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% for (var i = 0; i < carrinhos.length; i++) { %>
                                    <tr ng-repeat="carrinhos | filter: filtroproduto">
                                        <td>
                                            <%= carrinhos[i].cliente.nome %>
                                        </td>
                                        <td>
                                            <%= carrinhos[i].cliente.endereco.cidade %>
                                        </td>
                                        <td>
                                            <%= moment( carrinhos[i].criado ).format('DD-MM-YYYY') %>
                                        </td>
                                        <td>
                                            <%= carrinhos[i].total %>
                                        </td>
                                    </tr>
                                    <% } %>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>Cliente</th>
                                    <th>Cidade</th>
                                    <th>Data Venda</th>
                                    <th>Valor</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>