<section class="content-header">
	<h1>
		Usuário
		<small>Editar</small>
	</h1>

	<ol class="breadcrumb">
		<li><a href="/"><i class="fa fa-dashboard"></i></a></li>
		<li class="active">Editar Usuário</li>
	</ol>
</section>

<section class="content">
	<div class="row">
		<div class="col-xs-12">
			<div class="box box-primary">
				<div class="col-xs-12">
					<h4 class="box-title">Editar um Usuário</h4>
				</div>

				<form action="/usuario/<%= data._id %>?_method=PUT" method="POST" role="form">
					<% include ./../partials/usuario/form %>
				</form>
			</div>
		</div>
	</div>
</section>
